
<head>

    <title> -- MedRep -- </title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/Main_WebPage.css">

</head>

<html>

<body style = "background-color: #171821; margin: 0;">

    <div class = "main">

        <div class = "container-fluid textDiv">

        <img class = "logo img-responsive" style = "width: 100% " src = "../images/MedRep1.png" alt = "Logo Here">


            <p class = "subHeading" style = " margin-bottom: 5% "> A unique Aadhaar based Medical Repository for all your Reports and Tests, </p>
            <p class = "subHeading" style = " margin-bottom: 10% ">A unique system designed for Consumers and Medical Labs to bring the Healthcare Sector one step closer to a Digital Future.</p>

        </div>

        <div class = "container-fluid userChoose">

            <h1 class = "heading"> Login and Signup</h1>

            <a href="/users/login">
                <button class = "choiceButton zoom" type = "button">Consumer</button>
            </a>

            <a href="/labs/login">
                <button class = "choiceButton zoom" type = "button">Laboratory</button>
            </a>


        </div>

    </div>

</body>
</html>
